@font-face {
    font-family:'Verdana';
    src:url(..//fonts/Verdana.ttf) format("ttf");
}
.main {
    max-width: 1366px;
    padding: 50px 0 20px 0;
    margin: 0 auto;
    font-family: 'Verdana',sans-serif;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: #fff;  
}
.header-bar{
    display:flex;
    justify-content:space-between;
    max-width: 1066px;
    margin: 0 auto;
    padding-bottom: 45px;
}
.logo {
    display: flex;
}
.milan-logo {
    width: 46px;
    height: 44px;
    background-image: url(../images/logo.png);
    background-size: cover;
}
.logo:hover .milan-logo{
    background-image: url(../images/logo-orange.png);
    transition: 0.4s;
}
.link-logo h1 {
    display: flex;
    flex-direction: column;
}
.link-logo {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15px;
}
.link-logo span {
    font-size: 18px;
}
.logo:hover .link-logo {
    color: #f26522;
    transition: 0.4s;
}
.contacts p {
    padding-bottom: 5px;
    text-align: right;
}
.gallery {
    display: flex;
    max-width: 1066px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery li {
    padding-bottom: 55px;
    text-align: center;
}
.image-block {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: solid 2px #000;
    border-top: solid 2px #fff;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #000 100%), linear-gradient(to bottom, #fff 0%, #000 100%);
    position: relative;
}
.orange-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 63px;
    padding-bottom:17px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f26522;
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
}
.image-block:hover .orange-box {
    opacity: 1;
    transition: 0.5s;
}
.price {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 10px;
    padding-left: 21px;
}
.price span {
    font-size: 20px;
    padding-top: 3px;
}
.details {
    text-decoration: none;
    font-size: 14px;
    padding-right: 10px;
}
.details:hover:after{
    content: "\203A";
    margin-left: 15px;
    margin-right: 8px;
}
.discription {
    display: inline-flex;
    font-size: 18px;
    text-decoration: none;
    padding-top:22px;
}
.discription:hover{
    color: #f26522;
    transition: 0.4s;
}
.footer-bar {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}